<h1>New Message!</h1>

<p><b>From: </b>{{contactUs.name}} (<a href="mailto:{{contactUs.email}}">{{contactUs.email}}</a>)</p>
<p><b>Subject: </b>{{contactUs.subject}}</p>
<p><b>Message: </b>{{contactUs.message}}</p>
