<h1>New agent contact from {{storageName2DisplayName this.customer.firstName}}</h1>

<p><b>Name: </b>{{this.customer.firstName}} {{this.customer.lastName}}</p>
<p><b>Email: </b>{{this.customer.email.address}}</p>
<p><b>Phone: </b>{{this.customer.mobile.number}}</p>
<p><b>Company: </b>{{this.customer.companyName}}</p>
<br>
<p>Please reach out to the agent to set up a new discount code.</p>